@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #00646a;
  --color-light: #5cc2c8;
}
@layer theme {
  .dark {
    --color-light: rgb(121, 232, 239);
    --color-primary: #65a0ba;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

button,
input {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
body {
  background: #f3f4f6 !important;
  min-height: 100dvh;
}
.dark body {
  background: #030712 !important;

}
